* {

    box-sizing: border-box;

}

body {

    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.container {
    padding: 20px;
    min-width: 200px;
    background-color: rgba(128, 128, 128, 0.231);
    border-radius: 20px;
}

ul {

    list-style-type: none;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 5px;
    padding: 20px;
    overflow-y: auto;
    height: 200px;
    overflow-x: hidden;
}

ul>li {

    width: 124%;
    margin-left: -40px;
    padding: 10px;
    cursor: pointer;
}

li span:last-child {

    float: right;
}

li span:first-child {

    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.check:before {
    content: "✔";
    float: left;
    margin-right: 15px;
}

input {

    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
}

#add {
    margin-top: 2vh;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: rgba(0, 128, 0, 0.447);
    color: white;
    cursor: pointer;
}

#clear {

    margin-top: 2vh;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: rgba(255, 0, 0, 0.347);
    color: white;
    cursor: pointer;
}

ul::-webkit-scrollbar {
    width: 5px;
}

ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

ul::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}